@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.container {
    padding: 1rem;
}

.building-image {
    min-width: 160px;
    min-height: 160px;
    max-width: 320px;
    max-height: 320px;
}

